* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	color: #030303;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #212121;
}
.container {
	position: relative;
}
.clock {
	width: 350px;
	height: 350px;
	justify-content: center;
	align-items: center;
	display: flex;
	border-radius: 50%;
	background-size: cover;
	background-color: rgba(255, 255, 255, 0.541);
	border: 4px solid rgb(175, 167, 248);
	/* box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.9); */
	box-shadow: 0 -15px 15px rgba(54, 54, 54, 0.05),inset 0 -15px 15px rgba(0, 0, 0, 0.05),0 15px 15px rgba(0, 0, 0, 0.3), inset 0 15px 15px rgba(0, 0, 0, 0.3);
	}
.clock span {
	position: absolute;
	transform: rotate(calc(30deg * var(--i)));
	inset: 12px;
	text-align: center;
}
.clock span b {
	transform: rotate(calc(-30deg * var(--i)));
	display: inline-block;
	font-size: 20px;
}
.clock::before {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #6bfff3;
	z-index: 10000;
}
.clock .hour,.clock .min,.clock .sec {
	position:absolute;
}
.clock .hour,.hr {
	width: 160px;
	height: 160px;
}
.clock .min,.mn {
	width: 190px;
	height: 190px;
}
.clock .sec,.sc {
	width: 230px;
	height: 230px;
}
.hr,.mn,.sc {
	display: flex;
	justify-content: center;
	/* align-items: center; */
	position: absolute;
	border-radius: 50%;
}
.hr:before{
content: '';
position: absolute;
width: 8px;
height: 80px;
background: #350c01;
z-index: 10;
border-radius: 6px 6px 0 0;
}
.mn:before{
content: '';
position: absolute;
width: 4px;
height: 90px;
background: #1d1a1a;
z-index: 11;
border-radius: 6px 6px 0 0;
}
.sc:before{
content: '';
position: absolute;
width: 2px;
height: 110px;
background: #000000;
z-index: 12;
border-radius: 6px 6px 0 0;
}